@{
    ViewBag.Title = "GitHub User Viewer - MVC";
}
<div class="row">
    <div class="col-12">
        <div class="jumbotron mt-5">
            <h1 class="display-4">GitHub User Viewer</h1>
            <p class="lead">
                This simple application queries GitHubs public API to retrieve information on the user entered.<br />
                There is also a React.JS version available @Html.ActionLink("here", "Index", "Home").
            </p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12 text-center">
        <hr class="mb-4 mt-0">
        @using (Ajax.BeginForm("GetUser", "User", new AjaxOptions { UpdateTargetId = "userData", LoadingElementId = "spinner" }, new { @class = "form-inline justify-content-center" }))
        {
            @Html.AntiForgeryToken()
            <label class="sr-only" for="username">Username</label>
            @Html.TextBox("username", null, new { @class = "form-control mr-sm-2", @id = "username", @placeholder = "Username" })
            <label class="form-check-label mr-sm-2" for="includeRepos">Include Repositories</label>
            @Html.CheckBox("includeRepos", true, new { @class = "form-check-input mr-sm-2", @id = "includeRepos" })
            <input type="submit" value="Submit" class="btn btn-primary" />
        }
        <hr class="my-4">
    </div>
</div>
<div id="userData">

</div>
<div id="spinner" class="modal">
    <div class="center">
        <i class="fa fa-spinner fa-spin"></i>
    </div>
</div>